table, th, td {
    border:1px solid black;
  }

table{
    margin-left: auto;
    margin-right: auto;
}

.Update {
    background-color: #d9ff00;
    color: black;
    border: none;
    padding: 5px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

.Delete{
    background-color: #ff5100;
    color: black;
    border: none;
    padding: 5px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
  
.ButtonI{
    display: flex;
}

th{
    text-align: left;
}
