.Insert{ 
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    
}

